<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1><%= title %> <h1><a href="http://www.cs.sonoma.edu/~haderman/">CS355</a></h1>
    <br/><a href="/staticfile.html">Relative Link Example</a>
    <br/><a href ="http://localhost:3000/staticfile.html">Absoulte Link Example</a>
    <br/><a href="/template_example?first_name=
    Oscar&last_name=Landa">Template Example</a>
    <br/><a href ="/resume?first_name=Oscar&last_name=Landa&major=CS">Resume </a>

      <p>Welcome to <%= title %> <%=subtitle%>%></p>
    </h1>
  </body>
</html>