<!DOCTYPE html>
<html>
    <head>
     <title>Village - Add</title>
    </head>
    <body>
        <h1>Add New Village</h1>
        <form action="/village/insert" method="get">
            Village Name: <input name="village_name" type="text" />
            <br />
            Number Of Dorms: <input name="number_of_dorms" type="text" />
            <br />
            Number Of Rooms In The Dorms: <input name="number_of_rooms_in_dorms" type="text" />
            <br />
            <input type="submit" />
        </form>
    </body>
</html>