<!DOCTYPE html>
<html>
<head>
    <title>Energy Meter - Add</title>
</head>
<body>
<h1>Add New Energy Meter</h1>
<form action="/energy_meter/insert" method="get">
    Meter Name: <input name="meter_name" type="text"/>
    Average Annual Energy Consumed: <input name="avg_annual_energy_consumed" type="text"/>
    Year: <input name="year"type="text"/>
    <br />
    <input type="submit" />
</form>
</body>
</html>